<% include ./partials/header.ejs %>

<main>
  <section class="flex products grid p-2 pt-4">
    <% allProducts.forEach(product=>{ %>
    <div class="product  w-100 rounded-md overflow-hidden">
      <div class="images 100% flex overflow-x-auto" style="scroll-snap-type: x mandatory;">
        <% product.images.forEach(imageSrc=>{ %>
        <img style="scroll-snap-align: center;" class="w-100 aspect-3/4 object-contain" src="<%= imageSrc %>" alt="">
        <% }) %>
      </div>
      <div class="text p-2 truncate">
        <h1><%= product.name %></h1>
        <p class="opacity-50 text-sm truncate"><%= product.description %></p>
      </div>
      <div class="flex flex-col justify-between p-2 pt-0 gap-2">
        <span class="text-lg font-thin">₹ <%= product.price %></span>
        <a href="/addToCart/<%= product._id %>" class="bg-slate-100 opacity-75 uppercase text-sm px-4 py-2 rounded">
          Add to cart
        </a>
      </div>
    </div>
    <% }) %>
  </section>
</main>

<% include ./partials/footer.ejs %>